
body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    color:red;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: navy;
}

img {
    display: block;
    margin: 20px auto;
    width: 250px;
    border-radius: 5%;
    border: 4px solid navy
}

p{
    text-align:center;
    line-height:1.6;
}